.wrapper {
  min-width: 320px;
}

header {
  background: #fff;
  margin: 0 auto;
  width: 95%;
}

.uppermost {
  padding: 25px 0px 35px 0px;
  max-width: 1700px;
  margin: 0 auto;
}

.logo {
  background: #fff;
  display: inline-block;
}
.logo__img {
  background: url(../../images/build/logoSprite.png) 0px -41px;
  display: inline-block;
  height: 41px;
  width: 205px;
}

.soc {
  background: #fff;
  display: inline-block;
  float: right;
  margin: 12px 10px 0px 0px;
  clear: both;
}
.soc__box {
  display: inline-block;
  margin: 0px 4px;
}
.soc__link {
  display: block;
  height: 18px;
  width: 20px;
  background-image: url(../../images/build/socialsSprite.png);
  padding: 0px 1px;
}
.soc__link--fb {
  background-position: -20px 0px;
}
.soc__link--fb:hover {
  background-position: 0px 0px;
}
.soc__link--tw {
  background-position: -60px 0px;
}
.soc__link--tw:hover {
  background-position: -40px -36px;
}
.soc__link--rss {
  background-position: -40px -18px;
}
.soc__link--rss:hover {
  background-position: -40px 0px;
}
.soc__link--ln {
  background-position: -20px -18px;
}
.soc__link--ln:hover {
  background-position: 0px -18px;
}
.soc__link--sk {
  background-position: -20px -36px;
}
.soc__link--sk:hover {
  background-position: 0px -36px;
}

.nav {
  background: #2a2d32;
  max-width: 1700px;
  margin: 0 auto 40px;
}
.nav__dropdown {
  display: none;
}
.nav__list {
  overflow: hidden;
  display: inline-block;
  margin: 0px 0px -2px 0px;
}
.nav__item {
  float: left;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  height: 56px;
  font-size: 14px;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  color: #fff;
  padding: 22px 16px;
  border-left: 0.5px solid #000;
  border-right: 0.5px solid #000;
  box-sizing: border-box;
}
.nav__link:hover {
  color: #f4b60d;
}
.nav__link:focus {
  background: #248cec;
  border-left: 0.5px solid transparent;
  border-right: 0.5px solid transparent;
}
.nav__srch {
  height: 40px;
  width: 33%;
  background: #35383c url(../../images/search-icon.png) 94% center no-repeat;
  border: 1px solid #181a1d;
  padding: 0px 0px 0px 12px;
  margin: 8px 10px 0px 0px;
  float: right;
  color: #fff;
}

.carsl {
  margin: 0 auto;
  max-width: 1700px;
}
.carsl .title {
  position: absolute;
  margin: 4.5em 0 0 1em;
  z-index: 1;
  font-size: 4.5em;
  font-family: "Ubuntu Medium", Arial, sans-serif;
}
.carsl .title__item {
  list-style: none;
  background: #000;
  color: #fff;
  padding: 30px;
  display: inline-block;
  margin-right: 100%;
}
.carsl .title__item--1 {
  color: #f4b60d;
  padding-bottom: 0;
  position: relative;
  z-index: 3;
}
.carsl .title__item--2 {
  padding-right: 43px;
  padding-bottom: 0;
  padding-top: 12px;
  position: relative;
  top: -14px;
  z-index: 2;
}
.carsl .title__item--3 {
  margin-top: -17px;
  padding-top: 14px;
  position: relative;
  top: -16px;
}

main {
  margin: 0 auto;
  background: #fff;
}

.descript {
  max-width: 1700px;
  margin: 0 auto;
  width: 95%;
}

.descBox {
  display: inline-block;
  width: 30%;
  padding: 65px 0px 0px 0px;
  margin-right: 4%;
}
.descBox__num {
  font-size: 5em;
  font-family: "Ubuntu Medium", Arial, sans-serif;
  float: left;
  height: 3em;
  color: rgba(0, 0, 0, 0.1);
  margin: 0px 0.2em 0px 0;
}
.descBox__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../../images/build/descrSprite.png);
  margin: 10px 0px 2px;
}
.descBox__icon--gear {
  background-position: 0px 0px;
}
.descBox__icon--sett {
  background-position: -40px 0px;
}
.descBox__icon--truck {
  background-position: 0px -40px;
}
.descBox__head {
  font-family: "Ubuntu Medium", Arial, sans-serif;
  font-size: 20px;
}
.descBox__par {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.5em 0 0.5em 0;
  line-height: 24px;
}
.descBox__arr {
  display: inline-block;
  background: url(../../images/build/arrSprite.png) -12px 0px;
  width: 12px;
  height: 11px;
  margin-left: 5px;
}
.descBox__link {
  color: #000;
  font-family: "Ubuntu Medium", Arial, sans-serif;
  text-decoration: none;
}
.descBox__link:hover {
  color: #248cec;
}
.descBox__link:hover .descBox__arr {
  background-position: 0px 0px;
}
.descBox--last {
  margin: 0;
}

.serv {
  position: relative;
  overflow: hidden;
  background: #2a2d32;
}
.serv__wrap {
  text-align: center;
  margin: 0 auto;
  max-width: 1700px;
  width: 95%;
}
.serv__head {
  color: #fff;
  font-family: "Ubuntu Medium", Arial, sans-serif;
  font-size: 1.5em;
  text-align: left;
  padding: 45px 0 20px;
}
.serv__list {
  text-align: justify;
  padding-bottom: 65px;
}
.serv__list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.serv__item {
  list-style: none;
  display: inline-block;
  margin: 30px 0px 0px 0px;
}
.serv__link {
  text-decoration: none;
  font-family: "Ubuntu Medium", Arial, sans-serif;
}
.serv__link:hover .serv__img {
  background-position: -3px 0px;
}
.serv__link:hover .serv__descr {
  color: #f4b60d;
}
.serv__img {
  width: 260px;
  height: 260px;
  background-position: 260px 0px;
}
.serv__img--one {
  background-image: url("../../images/build/servSprite1.png");
}
.serv__img--two {
  background-image: url("../../images/build/servSprite2.png");
}
.serv__img--thr {
  background-image: url("../../images/build/servSprite3.png");
}
.serv__img--fou {
  background-image: url("../../images/build/servSprite4.png");
}
.serv__descr {
  text-align: center;
  color: #fff;
  padding-top: 30px;
  font-size: 1em;
}

.third {
  padding-bottom: 80px;
  background: #f7f7f7;
}
.third__wrap {
  max-width: 1700px;
  margin: 0 auto;
  width: 95%;
}

.banners {
  width: 50%;
  display: inline-block;
  float: right;
}
.banners__head {
  font-family: "Ubuntu Medium", Arial, sans-serif;
  font-size: 24px;
  padding: 60px 0 45px 6px;
}
.banners .drawer {
  width: 100%;
  border-top: 1px solid #E0E0E0;
  border-radius: 3px;
  margin-bottom: 6px;
}
.banners .accordion-item {
  border-bottom: 1px solid #E0E0E0;
}
.banners .accordion-item-active {
  border: transparent;
}
.banners .accordion-item-active .accordion-header {
  background: #f4b60d;
  transition: .25s;
}
.banners .accordion-item-active .accordion-header-icon {
  color: #fff;
}
.banners .accordion-item-active .accordion-header h3 {
  color: #fff;
}
.banners .accordion-header {
  background: #fff;
  padding: 12px 12px 12px 40px;
  cursor: pointer;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  min-height: 20px;
  transition: .25s;
}
.banners .accordion-header h3 {
  float: left;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  line-height: 1.3em;
  color: #212121;
  padding-left: 22px;
  font-family: "Ubuntu Medium", Arial, sans-serif;
}
.banners .accordion-content {
  display: none;
  padding: 20px 0 20px 50px;
  color: #8a8a8a;
  background: transparent;
  font-size: 15px;
  line-height: 1.45em;
}
.banners .accordion-content p {
  margin: 0;
  margin-bottom: 3px;
}
.banners .accordion-header-icon {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  margin: -12px 0px 0px -38px;
  position: absolute;
  border-right: 3px solid #E0E0E0;
  padding: 11px 14px 10px;
  font-weight: bold;
}
.banners .accordion-header-icon.accordion-header-icon-active {
  color: #fff;
  border-right: 2px solid #f6c53d;
  line-height: 0;
  padding: 20px 16px 24px 17px;
  font-size: 30px;
}
.banners .accordion-header-icon:before {
  content: "+";
}
.banners .accordion-header-icon-active:before {
  content: "-";
}

.news {
  width: 50%;
  display: inline-block;
}
.news__head {
  font-family: "Ubuntu Medium", Arial, sans-serif;
  font-size: 24px;
  padding: 60px 0 45px 6px;
}
.news__img {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-left: 10px;
  background-color: #0187f4;
}
.news__img--1 {
  background-image: url(../../images/src/articles/art1.jpg);
}
.news__img--2 {
  background-image: url(../../images/src/articles/art2.jpg);
}
.news__date {
  display: inline-block;
  position: absolute;
  text-align: center;
  padding: 10px 0px;
  width: 32px;
}
.news__date--month {
  background: #248cec;
  color: #fff;
  margin: 10px 0px 0px -10px;
}
.news__date--day {
  background: #f4b60d;
  color: #000;
  margin: 46px 0px 0px -10px;
}
.news__box {
  display: inline-block;
  margin: 0px 0px 16px 16px;
  position: relative;
  top: -14px;
}
.news__arthead {
  text-decoration: none;
  font-family: "Ubuntu Medium", Arial, sans-serif;
  color: #000;
}
.news__arthead:hover {
  color: #0187f4;
}
.news__auth-comm {
  display: block;
  font-family: Arial, sans-serif;
  color: #9e9e9e;
  margin: 6px 0px 24px 0px;
}
.news__auth, .news__comm {
  color: #0187f4;
  text-decoration: none;
}
.news__par {
  color: #9e9e9e;
  max-width: 380px;
  font-family: Arial, sans-serif;
}

footer {
  margin: 0 auto;
}

.brands {
  background: #fff;
}
.brands__wrap {
  max-width: 1700px;
  margin: 0 auto;
  padding: 70px 0 50px;
}
.brands__list {
  background: #fff;
  text-align: justify;
}
.brands__list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.brands__item {
  display: inline-block;
}
.brands__link {
  display: block;
  background-image: url(../../images/build/brandsSprite.png);
}
.brands__link:hover {
  opacity: .5;
}
.brands__link--rbp {
  background-position: -190px 0px;
  width: 153px;
  height: 70px;
}
.brands__link--moto {
  background-position: 0px -71px;
  width: 153px;
  height: 70px;
}
.brands__link--crav {
  background-position: 0px 0px;
  width: 190px;
  height: 71px;
}
.brands__link--atx {
  background-position: -190px -70px;
  width: 151px;
  height: 70px;
}
.brands__link--crui {
  background-position: 0px -141px;
  width: 149px;
  height: 68px;
}
.brands__link--gear {
  background-position: -149px -141px;
  width: 147px;
  height: 67px;
}

.fnav {
  padding: 40px 0 60px;
  background: #2a2d32;
  text-align: justify;
}
.fnav__wrap {
  margin: 0 auto;
  max-width: 1700px;
  width: 95%;
}
.fnav__wrap:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.fnav__list {
  display: inline-block;
  width: 23%;
  margin: 20px 1% 0 0;
  min-width: 184px;
  overflow: hidden;
}
.fnav__list--last {
  margin-right: 0;
}
.fnav__elem {
  font-family: "Ubuntu Medium", Arial, sans-serif;
  color: #fff;
}
.fnav__elem--frst {
  margin-bottom: 20px;
}
.fnav__link {
  font-family: Arial, sans-serif;
  color: #828385;
  display: block;
  border-bottom: 1px solid #393c40;
  text-decoration: none;
  padding: 10px 0px;
}
.fnav__link:hover {
  color: #248cec;
}
.fnav__link--last {
  border: none;
}

.lowest {
  position: relative;
  overflow: hidden;
  padding: 20px 0px;
  background: #35383c;
}
.lowest__wrap {
  margin: 0 auto;
  max-width: 1700px;
  position: relative;
  overflow: hidden;
}
.lowest__elem {
  float: left;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.3);
}
.lowest__icon {
  display: inline-block;
  margin: 0px 0px -4px 0px;
  width: 20px;
  height: 20px;
  background-image: url(../../images/build/contacts.png);
}
.lowest__icon--loc {
  background-position: -4px -7px;
}
.lowest__icon--tel {
  background-position: -28px -6px;
}
.lowest__icon--mail {
  background-position: -58px -5px;
}
.lowest__copy {
  float: right;
  color: rgba(255, 255, 255, 0.3);
  margin: 2px 26px 0px 0px;
}

.jssorb05 {
  position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet element */
  width: 16px;
  height: 16px;
  background: url("../../images/build/carsl/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.jssorb05 div {
  background-position: -13px -52px;
}

.jssorb05 div:hover,
.jssorb05 .av:hover {
  background-position: -13px -13px;
}

.jssorb05 .av {
  background-position: -13px -13px;
}

@media screen and (max-width: 1200px) {
  .descript {
    margin: 0 auto 4em;
  }

  .descBox__num {
    display: none;
  }

  .news {
    width: 100%;
    text-align: center;
  }
  .news__art {
    display: inline-block;
    text-align: left;
  }
  .news__par {
    max-width: 350px;
  }

  .banners {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .serv__head {
    text-align: center;
  }

  .serv__list {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .nav__list {
    display: none;
    position: absolute;
    z-index: 1;
    margin: -4px 0px 0px 0px;
    background: #2a2d32;
  }
  .nav__item {
    float: none;
    display: block;
    text-align: center;
  }
  .nav__link {
    display: block;
    border: none;
  }
  .nav__dropdown {
    display: inline-block;
    height: 38px;
    width: 40px;
    background: url("../../images/dropdown_icon.png") no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    margin: 10px 0px 6px 12px;
    cursor: pointer;
  }
  .nav__dropdown:focus ~ .nav__list {
    display: block;
  }

  .brands__wrap {
    padding: 10px 0;
  }

  .news__box {
    display: block;
    position: static;
    margin: 4px 0px 20px 8px;
  }

  .descBox {
    width: auto;
    display: block;
    padding: 40px 0 0;
  }
  .descBox__head {
    display: inline-block;
  }
  .descBox__icon {
    margin: 10px 2px -10px 0px;
  }

  .lowest__copy {
    margin-top: 10px;
    float: none;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .uppermost {
    text-align: center;
  }

  .logo {
    display: block;
  }

  .soc {
    display: block;
    float: none;
  }

  .fnav__wrap {
    text-align: center;
  }
  .fnav__list {
    display: block;
    margin: 20px 0 0;
  }
  .fnav__elem {
    text-align: left;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'Ubuntu Condensed';
  src: url("../../fonts/ubuntu-c-webfont.eot");
  src: url("../../fonts/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-c-webfont.woff") format("woff"), url("../../fonts/ubuntu-c-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../../fonts/ubuntu-m-webfont.eot");
  src: url("../../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-m-webfont.woff") format("woff"), url("../../fonts/ubuntu-m-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
